@model IEnumerable<TrashPickup.Models.ApplicationUser>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ChangePickupDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Pickup Day</h2>

<h4>Type day you would like to have your new scheduled garbage pickup.</h4>






