@model IEnumerable<TrashPickup.Models.ApplicationUser>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "SetVacationDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Set Vacation Day</h2>

