@model TrashPickup.Models.ApplicationUser
@{
    ViewBag.Title = "MapView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MapView</h2>

<div id="map" style="width:650px;height:500px;"></div>
<h2 id="Title">Google map view of customers</h2>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        #Title {
            font-family: 'Roboto','sans-serif';
            font-size: 30px;
            text-align: left;
        }

        #right-panel {
            font-family: 'Roboto','sans-serif';
            font-size: 25px;
            line-height: 30px;
            padding-bottom: 10px;
        }

            #right-panel select, #right-panel input {
                font-size: 20px;
            }

            #right-panel select {
                width: 200%;
            }

            #right-panel i {
                font-size: 14px;
            }

        html, body {
            height: 100%;
            margin: 0;
            padding: 40px;
        }

        #map {
            height: 50%;
            float: right;
            width: 30%;
            height: 50%;
            padding-top: 100px;
        }

        #right-panel {
            margin: 20px;
            border-width: 2px;
            width: 20%;
            height: 300px;
            float: left;
            text-align: left;
        }

        #directions-panel {
            margin-top: 10px;
            background-color: #06CEFF;
            overflow: scroll;
            height: 300px;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <div id="right-panel">
        <div>
            <b>Start:</b>

            <select id="start">
                <option value="6320 McHenry St, Burlington, WI 53105">Burlington, WI</option>

            </select>
            <br>
            <b>Waypoints:</b> <br>
            <i>(Ctrl+Click or Cmd+Click to set routes)</i> <br>
            <select multiple id="waypoints">
                <option value="440 Dardis Dr, Burlington, WI 53105">Burlington, WI</option>
                <option value="539 Rose Ann Dr, Burlington, WI 53105">Burlington, WI</option>
         
            </select>
            <br>
            <b>End:</b>
            <select id="end">
                <option value="6320 McHenry St, Burlington, WI 53105">Burlington, WI</option>

            </select>
            <br>
            <input type="submit" id="submit">
        </div>
        <div id="directions-panel"></div>
    </div>
    <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        document.getElementById('submit').addEventListener('click', function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        });
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var waypts = [];
        var checkboxArray = document.getElementById('waypoints');
        for (var i = 0; i < checkboxArray.length; i++) {
          if (checkboxArray.options[i].selected) {
            waypts.push({
              location: checkboxArray[i].value,
              stopover: true
            });
          }
        }

        directionsService.route({
          origin: document.getElementById('start').value,
          destination: document.getElementById('end').value,
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
            var route = response.routes[0];
            var summaryPanel = document.getElementById('directions-panel');
            summaryPanel.innerHTML = '';
            // For each route, display summary information.
            for (var i = 0; i < route.legs.length; i++) {
              var routeSegment = i + 1;
              summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                  '</b><br>';
              summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
              summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
              summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
            }
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtA7oJhzMM5lb5LZglWfl3yVQfAmSXkiI&callback=initMap">
    </script>
</body>